div.required label:after {
    content: " *";
/ / color : red;
}
.delete {
    display:none !important;
    position:absolute;
    top:0;
    right:16px;
    cursor: pointer;
}
.item:hover .delete{
    display: block !important;
}
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active{
    color: #fff !important;
    background-color: #ffc000 !important;
    border-color: #e0aa00 !important;
}